@model MVC_Demo.Models.OrderInventory

@{
    ViewData["Title"] = "Details";
}

<h1>Order Details</h1>
<br />
<div>
    <h4>View Order Details using the form below.</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Order Number <!--@Html.DisplayNameFor(model => model.Order)-->
        </dt>
        <dt class="col-sm-2">
           Product Number <!--@Html.DisplayNameFor(model => model.Product)-->
        </dt>
        <dt class="col-sm-2">
            Product Name <!--@Html.DisplayNameFor(model => model.Product)-->
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
    </dl>

    <dl class="row">
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>


</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
