@model IEnumerable<MVC_Demo.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>
<br />
<h4>Welcome to the customer's page. Here you can add, edit or delete customers.</h4>
<br />
<p>
    <!--<input type="submit" value="Create New Customer" class="btn btn-primary"  asp-action="Create" />-->
    <a class="btn btn-primary" asp-action="Create">Create New Customer</a>

</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <!-- @Html.DisplayNameFor(model => model.Firstname)-->
                First Name
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Lastname)-->
                Last Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
